body{
	background-color: #f0f0f0;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	font-weight: bold;
}

p{
	margin: 0;
}

video{
	width: 100%;
	height: auto;
}

img{
	float: left;
	margin-right: 25px;
}

.container{
	margin-top: 20px;
}

.descArea{
	background-color: #fff;
	box-shadow: 0 0 3px #c8c8c8;
	padding: 15px;
	box-sizing: border-box;
}

.videoArea{
	position: relative;
}

.box1{
	position: absolute;
	background-color: rgba(40, 169, 220, 0);
	width: 200px;
	height: 200px;
	top: 50px;
	left: 630px;
	cursor: pointer;
}

.box2{
	position: absolute;
	background-color: rgba(207, 50, 53, 0);
	width: 200px;
	height: 200px;
	top: 70px;
	left: 150px;
	cursor: pointer;
}
.subbox{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    width: 100%;
    border: thin solid red;
    z-index: 1000;

}
.subbox mark:hover {
    font-weight: bolder;
    font-size: 24px;
}

.lightbox{
	display: none;
}

.longBtns{
	display: block;
}